html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

body,
html {
  font-family: 'Chillax', sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
}

h1.master {
  text-align: left;
  font-size: calc(8vw);
  margin-left: 20px;
  margin-right: 20px;
}

span#io {
  color: rgb(1, 205, 205);
}

div#global-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(100% - 15px, 800px);
  margin-inline: auto;
}

div#global-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
