html {
  overflow: hidden;
  height: 100%;
  background-color: #000011;
  color: white;
}

body {
  height: 100%;
  overflow-x: hidden;
}

body,
html {
  font-family: 'Chillax', sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
}

.master {
  text-align: left;
  font-size: calc(4.5vw);
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  word-spacing: 7px;
  letter-spacing: 1px;
  border: none;
}

span#io {
  color: rgb(1, 205, 205);
}

div#global-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min(100% - 15px, 800px);
  margin-inline: auto;
}

div#global-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loader-placeholder{
  position: relative;
  height: 75vh;

}

#loader-container{
  position: fixed;
  top: 65%;
  left: 50%;
  height: 75vh;
  transform: translate(-50%, -50%);
}

.dna-wrapper{
  height: 200px;
}

#keyword-title{
  padding : 5px 2vw 5px 2vw;
  border-radius : 10px;
  color : white;
}

#sub-container{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
}

#mobile-title{
  font-size: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.mobile-padding{
  margin-top: 60px;
}

#desktop-title{
  margin-top: 22px;
}

#home-wrapper{
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
}

.paragraph{
  text-align: justify;
  line-height: 1.5;
  font-size: 18px;
}

.paragraph-container{
  min-height: 80vh;
  width: 80vw;
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
  gap: 20px;
}