#indiv-container {
  margin: 50px 0px 50px 0px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-around;
  max-width: 1600px;
}

#indiv-flag {
  font-size: 80px;
  margin-bottom: -10px;
  margin-top: -10px;
}

#indiv-left-container {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px 5px 30px 5px;
  align-items: center;
  width: 30%;
  min-height: 400px;
  background-color: rgba(135, 135, 135, 0.25);
}

.floaty-container {
  background-color: #0000001a;
  box-shadow: 2px 2px 10px 3px #00000011;
  border-radius: 10px;
}

#flag-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#indiv-name {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

#country-properties {
  padding-top: 10px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#country-properties > span {
  text-align: center;
}

#prop-name {
  font-weight: 500;
}

#indiv-right-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

#index-display{
  color: white;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
}

#index-title{
  font-size: 25px;
  font-weight: 600;
}

#index-title-mobile{
  font-size: 20px;
  font-weight: 500;
}

#indiv-right-top {
  width: 100%;
  height: 20%;
  fill: rgb(14, 12, 10);
  display: flex;
  align-items: center;
  justify-content: center;
}

#indiv-right-bottom {
  width: 100%;
  height: 80%;
  background-color: rgba(135, 135, 135, 0.377);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#indiv-main-topics-container{
  padding-left: 20px;
}

#indiv-headlines-container{
  padding-left: 20px;
}

.header-bottom{
  font-weight: 500;
  font-size: 18px;
}

.indiv-list {
  margin-left: 10px;
}

@media screen and (max-width: 600px) {
  .floaty-container {
    box-shadow: none;
  }
  #indiv-container {
    width: 90vw;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    padding: 0;
    margin: 20px 0 20px 0 ;
  }
  
  #indiv-left-container {
    padding: 30px 0px 30px 0px;
    width: 100%;
    min-height: 10vh;
    gap: 15px;
  }

  #indiv-right-container {
    width: 90vw;
    padding: 20px 0px 0 0px;
  }

  #indiv-right-top {
    width: 90vw;
    padding: 30px 0px 30px 0px;
  }
  #indiv-right-bottom {
    width: 90vw;
    margin-top: 20px;
    padding: 30px 0px 30px 0px;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
  }
  #indiv-main-topics-container{
    padding-left: 0;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
  }

  #indiv-headlines-container{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    padding-left: 0;
  }
  
  .header-bottom{
    font-weight: 500;
    font-size: 18px;
    text-align: center;
  }
  
  .indiv-list {
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    margin: 5px 20px 5px 20px;
  }
}

@media screen and (max-width: 850px) {
  #indiv-container{
    gap: 0px;
  }
  #indiv-right-container {
    gap: 0px;
  }
}