div#index-container {
  display: flex;
  flex-direction: row;
  border: 1px black solid;
  padding: 20px;
  max-width: 50vw;
  min-width: 300px;
  justify-content: center;
  gap: 30px;
  border-radius: 10px;
}

.index-containers{
  border: 1px solid white;
  border-radius: 10px;
  padding: 12px;
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
}

div#index-container > span {
  font-size: 20px;
}