div#modal {
  position: absolute;
  max-height: 23px;
  max-width: calc(fit-content - 2px);
  padding-right: 5px;
  padding-left: -2px;
  background-color: rgba(100, 100, 100, 0.6);
  transform: translate(-50%, -50%);
  border-radius: 0px 5px 5px 0px;
  color: white;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
  z-index: 100;
}

#global-map{
  /* background-color: rgb(97, 123, 160);s */
  	-webkit-animation: slide-in-blurred-bottom 0.5s ease-in-out both;
	        animation: slide-in-blurred-bottom 0.5s ease-in-out both;
}

path:focus {
  outline: none;
}

path:hover {
  cursor: pointer;
}

#space-container {
  min-height: 280px;
  position: relative;
}

.selected-geo {
  opacity: 0.6;
  stroke:black;
  stroke-width: 2;
}

@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(70px);
            transform: translateY(70px);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-opacity: 0;
            opacity: 0;
  }
  50% {
            opacity: 0.2;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    opacity: 1;
  }
}